@{
  Layout = "_Layout";
  ViewBag.Page = "home";
}

<h1>Welcome to the University Registrar!</h1>
<hr />
@Html.ActionLink("View Courses", "Index", "Students", new {}, new { @class = "btn btn-outline-primary" })
@Html.ActionLink("View Students", "Index", "Courses", new {}, new { @class = "btn btn-outline-primary" })