@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<h2>Delete Student</h2>
<h3>Are you sure you would like to delete @Html.DisplayFor(model => model.Name) from the registry?</h3>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-outline-danger"/>
}

@Html.ActionLink("Back to Students", "Index", new { }, new { @class = "btn btn-outline-primary" })