@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models

<h2>Students</h2>

@if (Model.Count == 0)
{
  <h3>There are no students.</h3>
}

@foreach (Student student in Model)
{
  <li>@Html.ActionLink($"{student.Name} | {student.EnrollmentDate}", "Details", new {id = student.StudentId})</li>
}

<hr />
<p>@Html.ActionLink("Add a new Student", "Create")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>